.ipBtn {
    background-image: url(images/ip.jpg);
    background-size: contain;
    width: 250px;
    height: 250px;
    cursor: pointer;
    color: white;
    font-size: 35px;
    font-weight: bolder ;
}